*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter';
    color: #293264;
    display: flex;
    width: 100%;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
}


.component{
    /* width: 100%; */
    max-width: 1000px;
    height: 100%;
    /* padding: 0 40px; */
}

.blob1, .blob2{
    position: fixed;
    width: 1000px;
    height: 1000px;
    z-index: -100;
    transform: rotate(45deg);
}

.blob1{
    right: -500px;
    top: -800px;
    background: #FFFAD1;
}

.blob2{
    left: -700px;
    bottom: -800px;
    background: #DEEBF8;
}

h1, h2{
    font-family: 'Karla';
}

@media(max-width: 800px){
    /* .component{
        width: 100%;
    } */

    /* .blob1{
        left: 30%;
        top: -75%;
        background: #FFFAD1;
    }
     */
    /* .blob2{
        right: 30%;
        bottom: -75%;
        background: #DEEBF8;
    } */
}